= form_for @user do |f|
  .form-group
    = f.text_field :name, placeholder: "username", class: 'form-control'
  .form-group
    = f.text_field :email, placeholder: "email", class: 'form-control'
  .form-group
    = f.submit 'Sign in', class: 'btn btn-primary'
