#top-index
  .row
    .col-md-1
    .col-md-5
      %h2 Which one would you vote for?
    .col-md-4
      .jumbotron
        = render 'sign_up_form'
  .row
    .col-md-6
    .col-md-4
      .jumbotron
        = render 'sign_in_form'
