.row
  .col-md-12
    %ol.list-unstyled
      - @races.each do |race|
        %li
          .race
            %h3= link_to race.title, race
            %p= vote_button(race, 1)
            %p= vote_button(race, 2)

= link_to 'New Race', new_race_path, class: 'btn btn-primary'
