- if signed_in?
  = react_component('RaceQuickStartForm', props: {authenticity_token: form_authenticity_token, avatar_image_url: current_user.image_url}, prerender: false)
= render partial: 'shared/races'
