body {
  padding-top: 100px;
  background-color: #fafafa;
}

.container {
  max-width: 600px;
}

img {
  border-radius: 5px;
}

nav {
  .navbar-nav {
    a.btn.new-race {
      margin: 8px;
      padding: 8px;
      color: #fefefe;
    }

    a.btn.new-race:hover {
      color: #fff;
      background-color: #286090;
    }
  }

  img.avatar {
    width: 25px;
    height: 25px;
  }
}

.navbar.navbar-default {
  background-color: #fff;

  .navbar-toggle {
    border: none;
  }

  .navbar-toggle:hover {
    background-color: #fff;
  }
}

.navbar-brand img {
  width: 30px;
  height: 30px;
}

footer {
  margin-top: 40px;
  padding: 30px 0 30px 0;

  .copyright {
    color: #767676;
  }
}

.race-list {
  .race {
    background-color: #fff;
    border: 1px solid #edeeee;
    padding: 9px 12px;

    img.avatar {
      width: 30px;
      height: 30px;
    }

    .race-owner a.username {
      color: #0d3c5f;
      font-weight: bold;
      font-size: 15px;
      margin-left: 5px;
    }

    .race-detail {
      padding-left: 20px;

      .title a {
        text-decoration: initial;
      }
    }

    .btn.candidate {
      background-color: #fafafa;
    }

    .btn.voted {
      background-color: #F12938;
      color: #ffffff;
    }
  }
}

.btn.voted {
  background-color: #F12938;
  color: #ffffff;
}

.race-permalink {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px 40px;

  .race-owner {
    img.avatar {
      width: 48px;
      height: 48px;
    }

    .fullname {
      font-size: 18px;
      font-weight: bold;
      color: #0d3c5f;
      margin-left: 5px;
    }

    .username {
      font-size: 14px;
      color: #8899a6;
      margin-left: 5px;
    }

    a:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}

.create-new-race {
  background-color: #fff;
  border-radius: 5px;
  padding: 30px 40px;
}

.profile {
  margin-bottom: 20px;
}

#top-index .jumbotron {
		padding: 15px;
}
