body {
  background-color: #fafafa;
}

.container {
  max-width: 800px;
}

.main-content {
  max-width: 600px;
}

img {
  border-radius: 5px;
}

nav {
  .navbar-nav {
    a.btn.new-race {
      margin: 8px;
      padding: 8px;
      color: #fefefe;
    }

    a.btn.new-race:hover {
      color: #fff;
      background-color: #286090;
    }
  }

  img.avatar {
    width: 25px;
    height: 25px;
  }
}

.navbar.navbar-default {
  background-color: #fff;

  .navbar-toggle {
    border: none;
  }

  .navbar-toggle:hover {
    background-color: #fff;
  }
}

.navbar-brand img {
  width: 30px;
  height: 30px;
}

header.jumbotron {
  background-image: url('//unsplash.it/1600/400/?random');
  background-position: center center;
  background-size: cover;

  .container {
    margin-top: 100px;
    margin-bottom: 7%;
    text-align: center;

    .title {
      color: #fff;
    }

    .copy {
      color: hsla(0, 100%, 100%, 0.8);
    }
  }
}

.main-content {
  margin-top: 70px;
}

footer {
  margin-top: 40px;
  padding: 30px 0 30px 0;

  .copyright {
    color: #767676;
  }
}

.profile {
  margin-bottom: 20px;
}
