.signin, .signup {
  max-width: 600px;
  margin: 30px auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;

  h1 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: -0.5px;
    margin-bottom: 35px;
  }

  h2 {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: -0.5px;
    margin-bottom: 35px;
  }

  .with-sns-account {
    margin-bottom: 30px;

    .btn {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }

  .with-user-identifier {
    margin-bottom: 30px;
  }

  .submit-sign-in-button, .submit-sign-up-button {
    width: 100%;
  }
}
