// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2.fullname {
  font-weight: bold;
}

h3.username {
  font-size: 20px;
  font-weight: 300;
  color: #8899a6;
  margin-top: 10px;
}

.signin {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px 40px;

  .signin-buttons {
    .btn {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}
